{% extends 'base.html.twig' %}

{% block title %}{{ (page_title|default('deal.create.title'))|trans({'%game%': game.name}) }}{% endblock %}

{% block body %}
    {% form_theme form 'form/deal_form.html.twig' %}

    <section class="game-hero">
        <twig:badge>{{ ('game.mode.' ~ game.mode)|trans }}</twig:badge>
        <h1>{{ (page_title|default('deal.create.title'))|trans({'%game%': game.name}) }}</h1>
    </section>

    {% if correction_switch is defined %}
        <p><a href="{{ correction_switch.href }}">{{ correction_switch.label|trans }}</a></p>
    {% endif %}

    {% if errorKey is not null %}
        <p class="flash flash--error">{{ errorKey|trans }}</p>
    {% endif %}

    {% set participantById = {} %}
    {% for participant in game.participants %}
        {% set participantById = participantById|merge({(participant.id): participant}) %}
    {% endfor %}

    {% set form_attr = {class: 'deal-form', 'data-controller': 'deal-players-choice'} %}

    {{ form_start(form, {attr: form_attr, action: form_action|default('')}) }}
        <section class="deal-form__group">
            <h2 class="deal-form__group-title">{{ 'deal.create.group_core'|trans }}</h2>
            {% if game.participants|length > game.mode %}
                {{ form_row(form.deadPlayerIds) }}
            {% endif %}
            {{ form_row(form.takerId) }}
            {% if game.mode == 5 %}
                {{ form_row(form.partnerId) }}
            {% endif %}
            {{ form_row(form.contract) }}
            {{ form_row(form.bouts) }}
            {{ form_row(form.pointsScored) }}
        </section>

        <section class="deal-form__group">
            <h2 class="deal-form__group-title">{{ 'deal.create.group_announces'|trans }}</h2>
            {{ form_row(form.petitAuBout) }}
            {{ form_row(form.poignees, {participants: game.participants, names_by_id: participantById}) }}
            {{ form_row(form.miseres, {participants: game.participants, names_by_id: participantById}) }}
            {{ form_row(form.chelem) }}
        </section>

        {{ form_row(form.submit) }}
    {{ form_end(form) }}

    <p><a href="{{ path('app_game_show', {id: game.id}) }}">← {{ 'common.back_to_game'|trans }}</a></p>
{% endblock %}
